<div x-data="{ open : false }">
  <header
    class="w-full z-20 bg backdrop-blur-sm bg-opacity-90 fixed inset-x-0 top-0 py-2 px-2 md:hidden flex flex-row justify-between items-center bg-white"
  >
    <div>
      <img src="/static/images/logo.png" alt="logo" class="w-48" />
    </div>

    <div
      @click="open = !!open ? false :  true "
      class="py-1 px-2 border rounded-md"
    >
      <span
        class="fa text-gray-500 cursor-pointer"
        :class="{'fa-times' : !!open, 'fa-bars' : !(!!open)}"
      ></span>
    </div>
  </header>

  <div
    x-show="open === true"
    class="md:hidden border-r shadow-md fixed z-30 inset-y-0 left-0 w-[70%] lg:max-w-[15%] sm:max-w-[20%] bg-white min-h-full p-8 space-y-10 overflow-y-scroll max-h-[99vh]"
  >
    {% include 'partials/__nav_menu.html' %}
  </div>

  <div
    class="hidden md:block border-r shadow-md fixed z-30 inset-y-0 left-0 w-[70%] lg:max-w-[15%] sm:max-w-[20%] bg-white min-h-full p-8 space-y-10 overflow-y-scroll max-h-[99vh]"
  >
    {% include 'partials/__nav_menu.html' %}
  </div>
</div>
