<div
  class="bg-white rounded-xl w-full overflow-scroll max-h-[75vh] max-w-[99%]"
>
  {% if not txs %}
  <div class="w-full flex flex-col justify-center items-center space-y-4 py-16">
    <img src="/static/images/empty.png" alt="empty" class="w-24" />

    <p class="text-lg text-gray-400 font-medium">No transaction history yet</p>
  </div>

  {% endif %} {% if txs %}

  <table class="table w-full">
    <thead class="text-[#477684] text-base text-center w-full">
      <th class="py-6 pl-6 text-base text-left whitespace-nowrap">
        Account Name
      </th>

      <th class="py-6 text-base text-left whitespace-nowrap">Type</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Transaction ID</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Amount</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Status</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Date</th>
    </thead>

    <tbody
      x-data="{
        items: Array.from({ length: 20 }).fill(1)
      }"
    >
      {% for tx in txs %}

      <tr
        class="text-base hover:bg-gray-200 odd:bg-gray-100 hover:cursor-pointer text-black/80"
      >
        <td class="text-base p-6 text-left">
          <div class="w-full flex-row justify-center items-center space-x-8">
            <span> {{tx.user_name}} </span>
            <span
              class="capitalize {% if tx.category == 'transfer' %} text-red-500 bg-red-100 {% else %} text-green-500 bg-green-100 {% endif %} rounded-2xl font-medium py-1 px-2 text-xs"
            >
              {% if tx.category == 'transfer' %} Sender {% else %} Recipient {%
              endif %}
            </span>

            <span
              x-show="index % 2 === 0"
              class="bg-green-100 text-green-500 rounded-2xl font-medium py-1 px-2 text-xs"
            >
              Received
            </span>
          </div>
        </td>

        <td class="text-base pr-6 text-left capitalize">{{tx.type}}</td>

        <td class="text-base pr-6 text-left text-gray-400 font-medium truncate">
          {{tx.uid}}
        </td>

        <td class="text-base pr-6 text-left">$ {{tx.amount}}</td>

        <td class="text-base pr-6 text-left">
          {% if tx.approved %}

          <span class="text-green-500">✓ Sucess </span>

          {% else %}

          <span class="text-yellow-500">Pending </span>

          {% endif %}
        </td>

        <td
          class="text-sm pr-6 font-medium whitespace-nowrap text-left text-gray-400"
        >
          {{tx.format_date_in_words()}}
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

  {% endif %}
</div>
