<div
  class="bg-white rounded-xl w-full overflow-scroll max-h-[75vh] max-w-[99%]"
>
  <table class="table w-full">
    <thead class="text-[#477684] text-base text-center w-full">
      <th class="py-6 pl-6 text-base text-left whitespace-nowrap">Name</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Type</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Transaction ID</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Amount</th>

      <th class="py-6 text-base text-left whitespace-nowrap">Date</th>
    </thead>

    <tbody
      x-data="{
        items: Array.from({ length: 20 }).fill(1)
      }"
    >
      <template x-for="( item, index) in items" :key="index">
        <tr
          class="text-base hover:bg-gray-200 odd:bg-gray-100 hover:cursor-pointer text-black/80"
        >
          <td class="text-base p-6 text-left">
            <div class="w-full flex-row justify-center items-center space-x-8">
              <span> James Greer </span>
              <span
                x-show="index % 2 === 1"
                class="bg-red-100 text-red-500 rounded-2xl font-medium py-1 px-2 text-xs"
              >
                Transfer
              </span>

              <span
                x-show="index % 2 === 0"
                class="bg-green-100 text-green-500 rounded-2xl font-medium py-1 px-2 text-xs"
              >
                Received
              </span>
            </div>
          </td>

          <td class="text-base pr-6 text-left">Credit</td>

          <td class="text-base pr-6 text-left text-gray-400 font-medium">
            837737474774
          </td>

          <td class="text-base pr-6 text-left">$12,34</td>

          <td
            class="text-sm pr-6 font-medium whitespace-nowrap text-left text-gray-400"
          >
            12th Nov. 2023
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
