{% extends "base.html" %} {% block title %} Change password {% endblock %} {%
block body %}

<main
  x-data="{ interbank : false, intrabank : true,
  showNotify: false,
  notifyText: '',
  notifyType: '',
  showProgress: false,
  progressText: '',

  getErrMsg(res) {

    console.log(res)
    if (typeof res === 'string') {
      return res;
    }
  
    if (res instanceof Error) {
      return res?.message;
    }
  
    if (typeof res === 'object') {
      return res.detail || res.message || res.error;
    }
  
   
  
    return 'Please correct the errors in the form'
  }

}"
  class="space-y-10 pb-16"
>
  {% include 'partials/__widgets.html' %}

  <div class="space-y-4 w-full">
    <p class="text-base md:text-lg lg:text-lg text-[#477684] font-semibold">
      Change Password
    </p>
  </div>

  <div class="space-y-4 w-full">
    <p class="text-sm md:text-base lg:text-lg text-[#477684] font-medium">
      Change your account password
    </p>

    <div
      x-data="{
      showPassword: false,
    }"
      class="space-y-1 w-full"
    >
      <p class="text-sm text-gray-400">
        Fill in the form below to change your password
      </p>

      <div class="w-full">
        <form
          x-transition
          class="max-w-3xl w-full flex flex-col space-y-4 justify-center items-start"
          x-data="{
            async submitForm(){

              
              const current_password = document.querySelector('#cpassword').value
              const password1 = document.querySelector('#password1').value

              const password2 = document.querySelector('#password2').value


              const data = {
               current_password, password1, password2
              }


              if( !current_password || !password1 || !password2){

                notifyText = 'Please fill in all fields';
                notifyType = 'error';
                showNotify = true;

                return;
              }


              showProgress = true;
              progressText = 'Updating password...';




              try{
                const res = await fetch('/change-password', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                });


                if(res.status === 200) {

                  showProgress = false;

                  notifyText = 'Password updated, log in again';
                  notifyType = 'success';
                  showNotify = true;

                  setTimeout(() => {
                    window.location.href = '/log-in';
                  }, 2000);



                } else {
                const json = await res.json();

                  showProgress = false;

                  notifyText = getErrMsg(json) || 'Unable to update your password';
                  notifyType = 'error';
                  showNotify = true;
                }
                
              }

              catch(err){
                showProgress = false;

                notifyText = 'Something went wrong';
                notifyType = 'error';
                showNotify = true;

                console.log(err);
              }
             





            }
          }"
          @submit.prevent="submitForm()"
        >
          <div class="relative space-y-4 w-full">
            <label class="text-sm font-medium text-gray-600">
              Current Password
            </label>
            <input
              required
              minlength="8"
              maxlength="25"
              x-bind:type="showPassword ? 'text' : 'password'"
              name="cpassword"
              id="cpassword"
              placeholder="Current password"
              class="rounded-xl text-sm placeholder:text-gray-300 py-4 pl-8 border block w-full focus:outline-none"
            />

            <div
              x-on:click="showPassword = !showPassword"
              class="absolute z-10 top-1/2 -translate-y-1/2 right-4 text-gray-600 hover:cursor-pointer"
            >
              <span x-show="!showPassword" class="fa fa-eye text-lg"></span>

              <span
                x-show="showPassword"
                class="fa fa-eye-slash text-lg"
              ></span>
            </div>
          </div>

          <div class="relative space-y-4 w-full">
            <label class="text-sm font-medium text-gray-600">
              New Password
            </label>
            <input
              required
              minlength="8"
              maxlength="25"
              x-bind:type="showPassword ? 'text' : 'password'"
              name="password1"
              id="password1"
              placeholder="New password"
              class="rounded-xl text-sm placeholder:text-gray-300 py-4 pl-8 border block w-full focus:outline-none"
            />

            <div
              x-on:click="showPassword = !showPassword"
              class="absolute z-10 top-1/2 -translate-y-1/2 right-4 text-gray-600 hover:cursor-pointer"
            >
              <span x-show="!showPassword" class="fa fa-eye text-lg"></span>

              <span
                x-show="showPassword"
                class="fa fa-eye-slash text-lg"
              ></span>
            </div>
          </div>

          <div class="relative space-y-4 w-full">
            <label class="text-sm font-medium text-gray-600">
              Confirm New Password
            </label>

            <input
              required
              minlength="8"
              maxlength="25"
              x-bind:type="showPassword ? 'text' : 'password'"
              name="password2"
              id="password2"
              placeholder="Confirm new password"
              class="rounded-xl text-sm placeholder:text-gray-300 py-4 pl-8 border block w-full focus:outline-none"
            />

            <div
              x-on:click="showPassword = !showPassword"
              class="absolute z-10 top-1/2 -translate-y-1/2 right-4 text-gray-600 hover:cursor-pointer"
            >
              <span x-show="!showPassword" class="fa fa-eye text-lg"></span>

              <span
                x-show="showPassword"
                class="fa fa-eye-slash text-lg"
              ></span>
            </div>
          </div>

          <div class="py-6">
            <button
              class="px-4 py-1 bg-[#477684] bg-[#477684]/90 rounded-md focus:outline-none text-white"
            >
              Proceed
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
