{% extends "base.html" %} {% block title %} History {% endblock %} {% block body
%}

<main class="space-y-10">
  <div class="space-y-4">
    <p class="text-sm md:text-base lg:text-lg text-[#477684] font-medium">
      Transaction History
    </p>

    <div class="space-y-1">
      <p class="text-sm text-gray-400">
        View all of your previous and recent transactions in one place
      </p>
    </div>
  </div>

  <div class="space-y-4">
  

      <div class="bg-white rounded-xl p-4 pr-16 inline-block space-y-2"></div>
    </div>
  </div>
</main>
{% endblock %}
