{% extends "base.html" %} {% block title %} Transfer {% endblock %} {% block
body %}

<main
  x-data="{ interbank : false, intrabank : true,
  showNotify: false,
  notifyText: '',
  notifyType: '',
  showProgress: false,
  progressText: '',

  getErrMsg(res) {

    console.log(res)
    if (typeof res === 'string') {
      return res;
    }
  
    if (res instanceof Error) {
      return res?.message;
    }
  
    if (typeof res === 'object') {
      return res.detail || res.message || res.error;
    }
  
   
  
    return 'Please correct the errors in the form'
  }

}"
  class="space-y-10 pb-16"
>
  {% include 'partials/__widgets.html' %}
  <div class="space-y-4 w-full">
    <p class="text-base md:text-lg lg:text-lg text-[#477684] font-semibold">
      Transfer
    </p>
  </div>

  <div class="space-y-4 w-full">
    <p class="text-sm md:text-base lg:text-lg text-[#477684] font-medium">
      Transfer funds to another account
    </p>

    <div class="space-y-1 w-full">
      <p class="text-sm text-gray-400">
        Fill in the form below to transfer funds
      </p>

      <div
        class="pt-4 pb-6 flex flex-row justify-between text-sm items-center text-black/70 text-center w-full"
      >
        <span
          @click="interbank = false; intrabank = true"
          class="border-b hover:cursor-pointer hover:bg-gray-100 pl-4 border-gray-300 w-full inline-block py-2"
          :class="{'border-black/70' : !!intrabank, 'border-gray-300' : !intrabank}"
        >
          Internal Transfer
        </span>
        <span
          @click="interbank = true; intrabank = false"
          class="border-b hover:cursor-pointer hover:bg-gray-100 border-black/70 w-full inline-block py-2"
          :class="{'border-black/70' : !!interbank, 'border-gray-300' : !interbank}"
        >
          External Transfer
        </span>
      </div>

      <div class="flex flex-row justify-center items-center w-full">
        <form
          x-data="{


              async submitForm() {

                const account_number = document.querySelector('#account_number1').value
                const amount = document.querySelector('#amount1').value
                const description = document.querySelector('#description1').value
                const pin = document.querySelector('#pin1').value

                const data = {
                  account_number,
                  amount,
                  description,
                  pin
                }


                if(account_number === '' || amount === '' || description === '' || pin === '') {

                  notifyText = 'Please fill in all fields';
                  notifyType = 'error';
                  showNotify = true;

                  return;

                }


                showProgress = true;
                progressText = 'Processing...';



                try{
                  const res = await fetch('/transfer/internal', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                  });


                  if(res.status === 200) {

                    showProgress = false;

                    notifyText = 'Transfer successful';
                    notifyType = 'success';
                    showNotify = true;

                    setTimeout(() => {
                      window.location.href = '/dashboard';
                    }, 2000);



                  } else {
                  const json = await res.json();

                    showProgress = false;

                    notifyText = getErrMsg(json) || 'Unable to complete transfer';
                    notifyType = 'error';
                    showNotify = true;
                  }
                  
                }

                catch(err){
                  showProgress = false;

                  notifyText = 'Something went wrong';
                  notifyType = 'error';
                  showNotify = true;

                  console.log(err);
                }


                




                

              }

        }"
          x-transition
          x-show="intrabank"
          @submit.prevent="submitForm()"
          class="max-w-3xl w-full"
        >
          <legend>
            <p
              class="text-base md:text-lg lg:text-lg text-[#477684] font-semibold"
            >
              Internal Transfer
            </p>
          </legend>

          <div class="space-y-2">
            <label for="account_number" class="text-sm text-gray-400">
              Account Number
            </label>

            <input
              type="text"
              required
              name="account_number"
              id="account_number1"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div class="space-y-2">
            <label for="amount" class="text-sm text-gray-400">
              Amount ($)
            </label>

            <input
              type="text"
              name="amount"
              required
              id="amount1"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div class="space-y-2">
            <label for="description" class="text-sm text-gray-400">
              Description
            </label>

            <input
              type="text"
              name="description"
              id="description1"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div class="space-y-2">
            <label for="pin" class="text-sm text-gray-400"> PIN </label>

            <input
              type="password"
              name="pin"
              id="pin1"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />

            <p class="text-sm text-gray-400">
              Enter your PIN to authorize this transaction
            </p>
          </div>

          <div class="py-6">
            <button
              class="px-4 py-1 bg-[#477684] bg-[#477684]/90 rounded-md focus:outline-none text-white"
            >
              Proceed
            </button>
          </div>
        </form>

        <form
          @submit.prevent="submitForm()"
          x-transition
          x-data="{

          transactionMethod : '',

          handleTransactionMethodChange(event) {

            this.transactionMethod = event.target.value

          },

          async submitForm(){


                         const method = document.querySelector('#txmethod').value;

            const amount = document.querySelector('#amount2').value;
            const description = document.querySelector('#description2').value;
            const pin = document.querySelector('#pin2').value;


            if(method === '' || amount === '' || description === '' || pin === '') {

              notifyText = 'Please fill in all fields';
              notifyType = 'error';
              showNotify = true;

              return;

            }


            let data = {
              method,
              amount,
              description,
              pin
            };

            if(method === 'bank') {

              const account_number = document.querySelector('#account_number2').value
              const swift = document.querySelector('#swift').value
              const iban = document.querySelector('#iban').value

              if (account_number === '' || swift === '' || iban === '') {

                notifyText = 'Please fill in all fields';
                notifyType = 'error';
                showNotify = true;

                return;

              }

              data = {
                ...data,
                account_number,
                swift,
                iban
              }

            }

            if(method === 'paypal') {

              const paypal_email = document.querySelector('#paypalemail').value

              if (paypal_email === '') {

                notifyText = 'Please fill in all fields';
                notifyType = 'error';
                showNotify = true;

                return;

              }

              data = {
                ...data,
                paypal_email
              }

            }

            if(method === 'cashapp') {

              const tag = document.querySelector('#cashapptag').value

              if (tag === '') {

                notifyText = 'Please fill in all fields';
                notifyType = 'error';
                showNotify = true;

                return;

              }

              data = {
                ...data,
                tag
              }

            }

            if(method === 'bitcoin') {

              const bitcoin_address = document.querySelector('#bitcoin_address').value

              if (bitcoin_address === '') {

                notifyText = 'Please fill in all fields';
                notifyType = 'error';
                showNotify = true;

                return;

              }

              data = {
                ...data,
                bitcoin_address
              }

            }


            showProgress = true;

            progressText = 'Processing...';

            try{
              const res = await fetch('/transfer/external', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
              });


              if(res.status === 200) {

                showProgress = false;

                notifyText = 'Transfer successful';
                notifyType = 'success';
                showNotify = true;

                setTimeout(() => {
                  window.location.href = '/dashboard';
                }, 2000);


              
              } else {

                const json = await res.json();

                showProgress = false;

                notifyText = getErrMsg(json) || 'Unable to complete transfer';
                notifyType = 'error';
                showNotify = true;
              }

                          }

            catch(err){
              showProgress = false;

              notifyText = 'Something went wrong';
              notifyType = 'error';
              showNotify = true;

              console.log(err);
            }


            
            

            



          }

        }"
          x-show="interbank"
          class="max-w-3xl w-full"
        >
          <legend>
            <p
              class="text-base md:text-lg lg:text-lg text-[#477684] font-semibold"
            >
              External Transfer
            </p>
          </legend>

          <div class="space-y-2">
            <label for="account_number" class="text-sm text-gray-400">
              Transfer Method
            </label>

            <select
              @change="handleTransactionMethodChange($event)"
              type="text"
              name="method"
              id="txmethod"
              class="appearance-none w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            >
              <option aria-readonly="true">Select method</option>
              <option value="bank">Transfer to another bank</option>
              <option value="cashapp">Cash App</option>
              <option value="paypal">Paypal</option>
              <option value="bitcoin">Bitcoin</option>
            </select>
          </div>

          <div class="space-y-2">
            <label for="amount" class="text-sm text-gray-400">
              Amount ($)
            </label>

            <input
              type="text"
              name="amount"
              id="amount2"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <!-- Specials  -->

          <div
            x-show="transactionMethod === 'bank'"
            x-transition
            class="space-y-2"
          >
            <label for="account_number" class="text-sm text-gray-400">
              Account Number
            </label>

            <input
              type="text"
              name="account_number"
              id="account_number2"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div
            x-show="transactionMethod === 'bank'"
            x-transition
            class="space-y-2"
          >
            <label for="swift" class="text-sm text-gray-400"> SWIFT </label>

            <input
              type="text"
              name="swift"
              id="swift"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div
            x-show="transactionMethod === 'bank'"
            x-transition
            class="space-y-2"
          >
            <label for="iban" class="text-sm text-gray-400"> IBAN </label>

            <input
              type="text"
              name="iban"
              id="iban"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div
            x-show="transactionMethod === 'paypal'"
            x-transition
            class="space-y-2"
          >
            <label for="paypalemail" class="text-sm text-gray-400">
              Paypal email
            </label>

            <input
              type="text"
              name="paypal_email"
              id="paypalemail"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div
            x-show="transactionMethod === 'cashapp'"
            x-transition
            class="space-y-2"
          >
            <label for="cashapptag" class="text-sm text-gray-400"> T ag </label>

            <input
              type="text"
              name="tag"
              id="cashapptag"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div
            x-show="transactionMethod === 'bitcoin'"
            x-transition
            class="space-y-2"
          >
            <label for="bitcoinaddress" class="text-sm text-gray-400">
              Bitcoin Address
            </label>

            <input
              type="text"
              name="bitcoinAddress"
              id="bitcoin_address"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <!-- End of specials  -->

          <div class="space-y-2">
            <label for="description" class="text-sm text-gray-400">
              Description
            </label>

            <input
              type="text"
              name="description"
              id="description2"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />
          </div>

          <div class="space-y-2">
            <label for="pin" class="text-sm text-gray-400"> PIN </label>

            <input
              type="password"
              name="pin"
              id="pin2"
              class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-[#477684]"
            />

            <p class="text-sm text-gray-400">
              Enter your PIN to authorize this transaction
            </p>
          </div>

          <div class="py-6">
            <button
              class="px-4 py-1 bg-[#477684] bg-[#477684]/90 rounded-md focus:outline-none text-white"
            >
              Proceed
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
